body{
	font-size: 10px;
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}
.bg-start{
	color: #C9A732 !important;
	font-family: cursive ;

}
.banner-image{
	background-image:linear-gradient(rgba(69, 61, 58,0.5), rgba(69, 61, 58,0.5)), url(image/accessoire.jpg);
	background-size: cover;
}
.btn{
	color: white;

}
.c-white{
	color: #F8F8F8;
}
.couleur-noir{
	color: #212529;
}
.couleur-para{
	color: #9AA0A5;
}
.size-1{
	font-size: 5rem;
}
.size-2{
	font-size: 3rem;
}
.size-3{
	font-size: 2rem;
}
.size-4{
	font-size: 1rem;
}
.entete{
	padding-top: 10%;
}
/*partie2*/
.icone img{
	padding: 2px;
	
	background-color: yellow;
	border: 1px solid yellow;
	border-radius: 30% 30%;
}
/*
.PORTOFOLIO{
background-color:  #F8F9FA;
}
.PORTOFOLIO:hover .img-fluid{

	background-image:linear-gradient(rgb(254, 202, 22), rgb(254, 202, 22)), url(image/plus.jpg);
	transition: width 2s;
}*/

/*Start timeline*/
ul,ol{
	list-style: none;
}
.timeline{
	margin-top: 40px;
	box-sizing: border-box;
	padding: 0px 100px;
	position: relative;
	width: 100%;

	
}
.timeline ul li{
	position: relative;
	width: 50%;
}
.timeline::before{
	content: '';
	position: absolute;
	height: 80%;
	width: 4px;
	background-color: black;
	left: 53%;
	top: 10%;
}
.timeline ul li:nth-child(odd){
	float: left;
	text-align: right;
	clear: both;
}
/*Debut media queries*/
@media  screen and (max-width: 816px){
	.timeline ul li:nth-child(odd){
		float: right;
	text-align: left;
	
	}
	.timeline ul li:nth-child(odd) .content{
	margin-right: 0px;
}
	
	.timeline ul li:nth-child(odd)::before{
	content: '';
	position: absolute;
	height: 150px;
	width: 150px;
	background-color: black;
	border-radius: 50%;
	left: -60px;
	top: 60%;
	transform: translate(0%,-50%);
	border: 4px solid white;
}
.timeline ul li:nth-child(odd) .content{
	margin-left: 100px;
}
.timeline::before{
	content: '';
	position: absolute;
	height: 78%;
	width: 4px;
	background-color: black;
	left: 53%;
	top: 11%;
}
}
/*   end media queries */
.timeline ul li:nth-child(even){
	float:right;
	text-align: left;
	clear: both;
}
.timeline ul li:nth-child(odd) .content{
	margin-left: 60px;
}
.timeline ul li:nth-child(even) .content{
	margin-left: 60px;
}
.timeline ul:after{
	content: '';
	display: table;
	clear: both;
}
.timeline ul li:nth-child(odd)::before{
	content: '';
	position: absolute;
	height: 150px;
	width: 150px;
	background-color: black;
	border-radius: 50%;
	left: -80px;
	top: 50%;
	transform: translate(0%,-50%);
	border: 4px solid white;
}
.timeline ul li:nth-child(even)::before{
	content: '';
	position: absolute;
	height: 150px;
	width: 150px;
	background-color: black;
	border-radius: 50%;
	left: -80px;
	top: 50%;
	transform: translate(0%,-50%);
	border: 4px solid white;
}

.content{
	padding: 50px 0px;
}
.timeline ul li:nth-child(1)::before{
	background-image: url(image/image-1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

}
.timeline ul li:nth-child(2)::before{
	background-image: url(image/image-2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.timeline ul li:nth-child(3)::before{
	background-image: url(image/vimage-2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.timeline ul li:nth-child(4)::before{
	background-image: url(image/image4.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.about{
	
	background-color: #FED136;
}
/*End timeline*/
/*Start team*/


.team img{
	height: 230px;
	border: 7px solid #DFE0E1;
	border-radius: 50%;
	
}
.team-image .fa-twitter{
	font-size: 30px;
	margin: 10px;
	background-color: black;
	color: white;
	border-radius: 100%;
}
.team-image .fa-facebook-official{
	font-size: 30px;
	margin: 10px;
	background-color: white;
	color: black;
	border-radius: 100%;
}
.team-image .fa-linkedin{
	font-size: 30px;
	margin: 10px;
	background-color: black;
	color: white;
	border-radius: 100%;
}
.partie4{
	background-color: #FED136;
	margin: 10px;
}
.partie4 a{
	font-size: 40px;
	text-decoration: none;
	margin: 40px;
	color: #CED4DA;
}
.partie5{
	background-image: url(image/dernier.png);
	background-size: cover;
	height: 600px;
}
.partie6 .fa-twitter{
	font-size: 30px;
	margin: 10px;
	background-color: black;
	color: white;
	border-radius: 100%;
}
.partie6 .fa-facebook-official{
	font-size: 30px;
	margin: 10px;
	background-color: white;
	color: black;
	border-radius: 100%;
}
.partie6 .fa-linkedin{
	font-size: 30px;
	margin: 10px;
	background-color: black;
	color: white;
	border-radius: 100%;
}/*
input{
	height: 50px;
	width: 500px;
}
textarea{
	height: 200px;
	width: 500px;
}*/

/*End team*/
/*image overlay


/*end image overlay*/*/
